body {
	/* background: orange; */
	padding: 0;
	margin: 0;
	font-family: 'Gotham A', 'Gotham B'; 
}

header {
	background: #fff;
}

form,
input,
select,
textarea,
.form-intro,
.form-intro-info,
div.form,
.legend-wrapper,
.right,
.bottom,
.people-boxes,
.person-box,
.button-done,
.legend-group,
.legend-and-button,
.observation-info,
.observe-wrapper,
.observe-wrapper div,
.button-back-to-edit,
.button-back-to-edit-wrapper,
.people-boxes-wrapper,
.button-when-done-wrapper,
.button-when-done {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	clear: both;
}

.logo-wrapper {
	overflow: hidden;
	height: auto;
	margin: 1em 0;
}

.logo-wrapper img {
	float: left;
}

.gray-bar {
	padding: 7px 0;	
	color: #333;
	font-size: 26px;
	font-family: 'Gotham A', 'Gotham B'; 
	background: #e7e7e7;
}

.submit, .clear {
	padding: 10px; 
	background: red;
	color: #fff;
	font-weight: bold;
	margin: 10px 0;
	font-size: 24px;
}

.input {
	padding: 10px;
	margin-right: 20px;
	font-size: 24px;
}

.form-intro,
.form-wrapper,
.form-submission-wrapper  {
	margin: 3% 0;
}

.form-intro p {
	font-size: 16px;
	line-height: 20px;
}

.form-wrapper,
.form-submission-wrapper {
	display: none;
}

.form-wrapper p:first-child {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 3px solid #ccc;
}

.bottom {
	overflow: hidden;
	clear: left;
}

div.form {	
	background: transparent url('form-background600.png') no-repeat left top;
	background-size: cover;
	width: 100%;	
	/* height: 800px; */
	overflow: hidden;
}

div.form p:first-child {
	padding: 0;
	margin : 75px 0 0;
	border: 0;
	text-align: center;
	color: #bbb;
	text-transform: uppercase;
}

.legend-wrapper {	
	overflow: hidden;		
	padding-right:4%;
	margin-right: 4%;
	border-right: 1px solid #ccc;
	width: 70%; 
	float: left;
}

.legend-wrapper>div {
	margin-right: 13%;
	height: 100%;
	padding-right: 13%;
}

.legend-and-button {
	border-bottom: 3px solid #ccc;
	padding-bottom:10px;
	margin-bottom:10px;
	overflow: hidden;
}

.legend-wrapper .legend-group {
	width: 28%;
	float: left;
	padding: 0 40px 0 0;
	margin: 0;
	margin-right: 5%;
}

.legend-wrapper .legend {	
	border-right: 1px solid #ccc;
}

.legend-wrapper>div p,
.legend-wrapper>div p:first-child {
	border: 0;
	margin: 0;
	padding: 0;
}

.button-done {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	color: #fff;
	font-size: 16px;
	background: #1aa3d1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	padding: 10px;
	cursor: pointer;
}

.legend-wrapper h2 {
	font-size: 14px;
	text-transform: uppercase;
	color: #333;
	padding: 0 40px 0 0;
	margin: 0;
	text-align: right;
}

.legend-wrapper .icon {
	padding: 10px 40px 10px 0;
	margin: 0;
	text-align: right;
}

.legend-wrapper .icon.male {
	background: #fff url('icon-male.png') no-repeat right center;
}

.legend-wrapper .icon.female {
	background: #fff url('icon-female.png') no-repeat right center;
}

.legend-wrapper .icon.unknown {
	margin-bottom: 0;
	background: #fff url('icon-question-mark.png') no-repeat right center;
}

.legend-wrapper .icon.adult {
	background: #fff url('icon-adult.png') no-repeat right center;
}

.legend-wrapper .icon.child {
	background: #fff url('icon-child.png') no-repeat right center;
}

.legend-wrapper .icon.check {
	background: #fff url('icon-check.png') no-repeat right center;
}

.legend-wrapper .icon.no {
	background: #fff url('icon-no.png') no-repeat right center;
}

.legend-wrapper .icon.restrained-unknown {
	background: #fff url('icon-restrained-unknown.png') no-repeat right center;
}

.people-boxes-wrapper {
	width: 80%;
	overflow: hidden;
	margin: 30px auto 50px;
}

.people-boxes {
	overflow: hidden;
	width: 100%;
}

.person-box {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	float: left;
	margin: 1% 1%;
	border: 1px solid #ddd;
	padding: 2%;
	width: 31.3%;
}

.person-box:nth-child(3n+1) {
	clear: left;
}

.person-box .icon {
	height: 30px;
	width: 40px;
	padding: 0;
	display: block;
	width: 33%;
	float: left;
}

.person-box>div {
	overflow: hidden;
}

.person-box .icon.male,
.person-box .icon.male:active,
.person-box .icon.male:focus,
.person-box .icon.male.inactive,
.person-box .icon.male.inactive:hover {
	background: transparent url('icon-male-inactive.png') no-repeat center center;
}

.person-box .icon.female,
.person-box .icon.female.inactive,
.person-box .icon.female.inactive:hover {
	background: transparent url('icon-female-inactive.png') no-repeat center center;
}

.person-box .icon.unknown,
.person-box .icon.unknown.inactive,
.person-box .icon.unknown.inactive:hover {
	margin-right: 0;
	background: transparent url('icon-question-mark-inactive.png') no-repeat center center;
}

.person-box .icon.adult,
.person-box .icon.adult.inactive,
.person-box .icon.adult.inactive:hover {
	background: transparent url('icon-adult-inactive.png') no-repeat center center;
}

.person-box .icon.child,
.person-box .icon.child.inactive,
.person-box .icon.child.inactive:hover {
	background: transparent url('icon-child-inactive.png') no-repeat center center;
}

.person-box .icon.check,
.person-box .icon.check.inactive,
.person-box .icon.check.inactive:hover {
	background: transparent url('icon-check-inactive.png') no-repeat center center;
}

.person-box .icon.no,
.person-box .icon.no.inactive,
.person-box .icon.no.inactive:hover {
	background: transparent url('icon-no-inactive.png') no-repeat center center;
}

.person-box .icon.restrained-unknown,
.person-box .icon.restrained-unknown.inactive,
.person-box .icon.restrained-unknown.inactive:hover {
	background: transparent url('icon-restrained-unknown-inactive.png') no-repeat center center;
}

.person-box .icon.male.clicked {
	background: transparent url('icon-male.png') no-repeat center center;
}

.person-box .icon.female.clicked {
	background: transparent url('icon-female.png') no-repeat center center;
}

.person-box .icon.unknown.clicked {
	margin-right: 0;
	background: transparent url('icon-question-mark.png') no-repeat center center;
}

.person-box .icon.adult.clicked {
	background: transparent url('icon-adult.png') no-repeat center center;
}

.person-box .icon.child.clicked {
	background: transparent url('icon-child.png') no-repeat center center;
}

.person-box .icon.check.clicked {
	background: transparent url('icon-check.png') no-repeat center center;
}

.person-box .icon.no.clicked {
	background: transparent url('icon-no.png') no-repeat center center;
}

.person-box .icon.restrained-unknown.clicked {
	background: transparent url('icon-restrained-unknown.png') no-repeat center center;
}

.person-box .icon.male:hover {
	cursor: pointer;
}

.person-box .icon.female:hover  {
	cursor: pointer;
}

.person-box .icon.unknown:hover {
	cursor: pointer;
}

.person-box .icon.adult:hover  {
	cursor: pointer;
}

.person-box .icon.child:hover {
	cursor: pointer;
}

.person-box .icon.check:hover {
	cursor: pointer;
}

.person-box .icon.no:hover {
	cursor: pointer;
}

.person-box h2 {
	font-size: 12px;
	color: #666;
	text-transform: uppercase;
	clear: left;
	margin: 0 0 2px;
	padding-top: 7px;
}

.right {
	overflow: hidden;	
}

#observation-day,
#observation-month,
#observation-year {
	height: 45px;
	margin-right: 20px;
	width: 160px;
	font-size: 18px;
}

#observation-day option.hidden {
	display: none;
}

.form-intro-info {
	padding-top: 30px;
	margin-top: 30px;
	border-top: 3px solid #ddd;
}

.form-intro-info input {
	padding: 10px;
	font-size: 18px; 
}

.form-intro-button-wrapper {
	clear: left;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-intro-buttons {
	margin: 0 auto;	
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}

.form-intro .button {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding: 12px; 
	text-transform: uppercase;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: auto;
}

.form-intro .button.button-start,
.form-intro .button.button-back-to-observation {
	background: #642c8d;
	color: #fff;
	margin-right:0;
	float: right;
}

.form-intro .button.button-download {
	background: #ccc;
	color: #444;
}

.car-count {
	color: #0099cc;
	text-transform: uppercase;	
}

.car-count span {
	font-weight: bold;
}

.button.next {
	display: block;
	text-align: center;
	margin: 0 auto 40px;
	width: 100px;
	color: #fff;
	background: #642c8d;
	text-transform: uppercase;
	font-size: 32px;
	text-decoration: none;
	padding: 10px 20px;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

input[type="radio"] {
	margin-left: 0;
}

input#time-picker-from,
input#time-picker-to {
	float: left;
	width: 70px; 
}

.ui-timepicker-wrapper {
	overflow-y: auto;
	height: 300px;
	width: 6.5em;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	outline: none;
	z-index: 10001;
	margin: 0;
}

.ui-timepicker-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ui-timepicker-list li {
	padding: 3px 0 3px 5px;
	cursor: pointer;
	white-space: nowrap;
	color: #000;
	list-style: none;
	margin: 0;
	font-size: 18px;
	padding: 4px 0;
}

.top-wrapper {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 3px solid #ccc;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.pre-post-observation {
	float: left; 
	margin-right: 30px;
}

.pre-post-observation label {
	text-transform: uppercase;
	font-weight: bold;
}

.button-wrapper-back {
	display: none;
}

.date-label {
	float: left; 
	margin-right:30px;
}

.date-field {
	float: left; 
	width: auto;
}

.date-input {
	width: 160px; 
	margin-right: 20px;
}

.margin-bottom-2em {
	margin-bottom: 2em!important;
}

.flt-l {
	float: left; 
}

.time-label {
	float: left; 
	margin-right:10px;
}

.time-fields {
	float: left; 
	width: auto; 
	margin-right:10px;
}

.to-label {
	float: left; 
	margin-right:10px;
}

.date-time-wrapper {
	margin-bottom: 2em; 
	overflow: hidden;
}

.form-intro-info input.ui-timepicker-input {
	font-size: 14px;
	padding: 13px 10px;
}

.observe-wrapper .label {
	text-transform: uppercase;
	font-weight: bold;
}

.observe-wrapper div {
	float: left;
	margin-right: 4%; 
	margin-bottom: .5em;
}

.observe-wrapper .label span {
	color: #969696;
	text-transform: none;
	font-family: Arial, sans-serif;
}

.button-back-to-edit-wrapper {
	width: 30%;
	overflow: hidden;
	text-align: center;
}

.button-back-to-edit {
	width: 65%;
	margin: 0 auto;
	color: #444;
	text-transform: uppercase;
	background: #ccc;
	padding: 12px;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

.observation-info {
	width: 70%;
	float: left;
}

.restraint-wrapper {
	clear: left;
	overflow: hidden;
	padding-top: 8px;
	margin-top: 8px;
	border-top: 1px solid #ccc;	
}

.restraint-wrapper label {
	color: #666;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

.restraint-wrapper input {
	margin: 0 5px 0 0;
}

.when-done-wrapper {
	overflow: hidden;
	text-align: center;
	display: none;
}

.form-wrapper .when-done-wrapper p:first-child {
	border: 0;
	padding: 0;
	margin: 2em 0 4px;
	text-align: left;
}

.button-when-done-wrapper {		
	width: 70%;
}

.button-when-done {
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	width: 100%;
	background: #0099cc;
	padding: 8px; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}