
/*
	Copyright (C) 2013 Hoefler & Frere-Jones 
	
	This software is the property of Hoefler & Frere-Jones (H&FJ).
	Your right to access and use this software is subject to the
	applicable License Agreement, or Terms of Service, that exists
	between you and H&FJ. If no such agreement exists, you may not
	access or use this software for any purpose.
	
	This software may only be hosted at the locations specified in
	the applicable License Agreement or Terms of Service, and only
	for the purposes expressly set forth therein.  You may not copy,
	modify, convert, create derivative works from or distribute this
	software in any way, or make it accessible to any third party,
	without first obtaining the written permission of H&FJ. 

	For more information, please visit H&FJ at http://typography.com.
	150956-63026-20130910
*/

@font-face { font-family:"Gotham A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/2195B5CE6CA5DA2ED.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/2195B5CE6CA5DA2ED.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:300; } @font-face { font-family:"Gotham 3r"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/2195B5CE6CA5DA2ED.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/2195B5CE6CA5DA2ED.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:300; } @font-face { font-family:"Gotham A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/7632C43A00E9787D1.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/7632C43A00E9787D1.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:300; } @font-face { font-family:"Gotham 3i"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/7632C43A00E9787D1.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/7632C43A00E9787D1.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:300; } @font-face { font-family:"Gotham A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/A74206B0FECBB1B24.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/A74206B0FECBB1B24.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Gotham 4r"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/A74206B0FECBB1B24.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/A74206B0FECBB1B24.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Gotham A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/9993E739F4F9C788D.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/9993E739F4F9C788D.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Gotham 4i"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/9993E739F4F9C788D.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/9993E739F4F9C788D.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Gotham A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/3ACC4C66105FBE67C.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/3ACC4C66105FBE67C.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:500; } @font-face { font-family:"Gotham 5r"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/3ACC4C66105FBE67C.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/3ACC4C66105FBE67C.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:500; } @font-face { font-family:"Gotham A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/BF0F2CDAA9CEAF4EB.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/BF0F2CDAA9CEAF4EB.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:500; } @font-face { font-family:"Gotham 5i"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/BF0F2CDAA9CEAF4EB.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/BF0F2CDAA9CEAF4EB.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:500; } @font-face { font-family:"Gotham A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/92263A7E473936E3D.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/92263A7E473936E3D.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Gotham 7r"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/92263A7E473936E3D.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/92263A7E473936E3D.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Gotham A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/B7CFEEC99EA7D4D7D.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/B7CFEEC99EA7D4D7D.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:700; } @font-face { font-family:"Gotham 7i"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/B7CFEEC99EA7D4D7D.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/B7CFEEC99EA7D4D7D.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:700; } @font-face { font-family:"Gotham Narrow A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/11C922C50ACC20235.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/11C922C50ACC20235.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:300; } @font-face { font-family:"Gotham Narrow 3r"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/11C922C50ACC20235.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/11C922C50ACC20235.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:300; } @font-face { font-family:"Gotham Narrow A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/5A75D44D31E2858AE.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/5A75D44D31E2858AE.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:300; } @font-face { font-family:"Gotham Narrow 3i"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/5A75D44D31E2858AE.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/5A75D44D31E2858AE.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:300; } @font-face { font-family:"Gotham Narrow A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/82727A0C78B7D7B7A.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/82727A0C78B7D7B7A.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Gotham Narrow 4r"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/82727A0C78B7D7B7A.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/82727A0C78B7D7B7A.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Gotham Narrow A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/23128CDE3C8DB23A3.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/23128CDE3C8DB23A3.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Gotham Narrow 4i"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/23128CDE3C8DB23A3.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/23128CDE3C8DB23A3.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Gotham Narrow A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/43DF9D31570D042E7.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/43DF9D31570D042E7.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:500; } @font-face { font-family:"Gotham Narrow 5r"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/43DF9D31570D042E7.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/43DF9D31570D042E7.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:500; } @font-face { font-family:"Gotham Narrow A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/A69DFE5838116080A.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/A69DFE5838116080A.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:500; } @font-face { font-family:"Gotham Narrow 5i"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/A69DFE5838116080A.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/A69DFE5838116080A.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:500; } @font-face { font-family:"Gotham Narrow A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/34F00AEAF1780262B.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/34F00AEAF1780262B.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Gotham Narrow 7r"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/34F00AEAF1780262B.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/34F00AEAF1780262B.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Gotham Narrow A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/76DA1253F90EEAE74.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/76DA1253F90EEAE74.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:700; } @font-face { font-family:"Gotham Narrow 7i"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/76DA1253F90EEAE74.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/76DA1253F90EEAE74.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:700; } 