
/*
	Copyright (C) 2013 Hoefler & Frere-Jones 
	
	This software is the property of Hoefler & Frere-Jones (H&FJ).
	Your right to access and use this software is subject to the
	applicable License Agreement, or Terms of Service, that exists
	between you and H&FJ. If no such agreement exists, you may not
	access or use this software for any purpose.
	
	This software may only be hosted at the locations specified in
	the applicable License Agreement or Terms of Service, and only
	for the purposes expressly set forth therein.  You may not copy,
	modify, convert, create derivative works from or distribute this
	software in any way, or make it accessible to any third party,
	without first obtaining the written permission of H&FJ. 

	For more information, please visit H&FJ at http://typography.com.
	150956-63026-20130910
*/

@font-face { font-family:"Gotham A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/A8504387DF6C1052F.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/A8504387DF6C1052F.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:300; } @font-face { font-family:"Gotham 3r"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/A8504387DF6C1052F.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/A8504387DF6C1052F.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:300; } @font-face { font-family:"Gotham A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/019A9CE23FE4A41D7.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/019A9CE23FE4A41D7.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:300; } @font-face { font-family:"Gotham 3i"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/019A9CE23FE4A41D7.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/019A9CE23FE4A41D7.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:300; } @font-face { font-family:"Gotham A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/811FB41AE60300536.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/811FB41AE60300536.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Gotham 4r"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/811FB41AE60300536.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/811FB41AE60300536.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Gotham A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/51A5145EB588A9599.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/51A5145EB588A9599.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Gotham 4i"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/51A5145EB588A9599.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/51A5145EB588A9599.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Gotham A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/47CC9172FB6D1017C.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/47CC9172FB6D1017C.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:500; } @font-face { font-family:"Gotham 5r"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/47CC9172FB6D1017C.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/47CC9172FB6D1017C.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:500; } @font-face { font-family:"Gotham A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/A1B02377F08B183DC.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/A1B02377F08B183DC.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:500; } @font-face { font-family:"Gotham 5i"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/A1B02377F08B183DC.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/A1B02377F08B183DC.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:500; } @font-face { font-family:"Gotham A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/3C45DF5B7BEF6B5AE.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/3C45DF5B7BEF6B5AE.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Gotham 7r"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/3C45DF5B7BEF6B5AE.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/3C45DF5B7BEF6B5AE.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Gotham A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/5C33A859909F8126A.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/5C33A859909F8126A.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:700; } @font-face { font-family:"Gotham 7i"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/5C33A859909F8126A.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/5C33A859909F8126A.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:700; } @font-face { font-family:"Gotham Narrow A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/12551D8EBA92ACF05.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/12551D8EBA92ACF05.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:300; } @font-face { font-family:"Gotham Narrow 3r"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/12551D8EBA92ACF05.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/12551D8EBA92ACF05.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:300; } @font-face { font-family:"Gotham Narrow A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/C8DABD9DCC1161D04.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/C8DABD9DCC1161D04.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:300; } @font-face { font-family:"Gotham Narrow 3i"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/C8DABD9DCC1161D04.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/C8DABD9DCC1161D04.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:300; } @font-face { font-family:"Gotham Narrow A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/339DC6C9564A525F5.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/339DC6C9564A525F5.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Gotham Narrow 4r"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/339DC6C9564A525F5.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/339DC6C9564A525F5.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Gotham Narrow A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/A0D815363613AC413.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/A0D815363613AC413.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Gotham Narrow 4i"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/A0D815363613AC413.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/A0D815363613AC413.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Gotham Narrow A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/8155863CEC5170E49.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/8155863CEC5170E49.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:500; } @font-face { font-family:"Gotham Narrow 5r"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/8155863CEC5170E49.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/8155863CEC5170E49.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:500; } @font-face { font-family:"Gotham Narrow A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/720BE663462CBA2C0.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/720BE663462CBA2C0.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:500; } @font-face { font-family:"Gotham Narrow 5i"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/720BE663462CBA2C0.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/720BE663462CBA2C0.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:500; } @font-face { font-family:"Gotham Narrow A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/67DADB2CE7F90ECA1.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/67DADB2CE7F90ECA1.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Gotham Narrow 7r"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/67DADB2CE7F90ECA1.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/67DADB2CE7F90ECA1.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Gotham Narrow A"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/CB054389D386D878E.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/CB054389D386D878E.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:700; } @font-face { font-family:"Gotham Narrow 7i"; src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/CB054389D386D878E.eot'); src: url('http://buckleupforlife.org/wp-content/themes/basetheme/fonts/65130/CB054389D386D878E.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:700; } 