/*! bufl_portal 2014-12-18 */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/****** Colors ******/
/****** Breakpoints ******/
/****** Shortcuts ******/
.transition {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}
.transition-none {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}
.background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.clearfix {
  zoom: 1;
}
.clearfix:before {
  display: table;
  content: "";
}
.clearfix:after {
  display: table;
  content: "";
  clear: both;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.link-block {
  width: 100%;
  height: 100%;
  display: block;
}
.touch-callout {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.align-c {
  text-align: center;
}
.align-l {
  text-align: left;
}
.align-r {
  text-align: right;
}
.fl-left {
  float: left;
}
.fl-right {
  float: right;
}
.overflow-hidden {
  overflow: hidden;
}
.hidden {
  display: none;
}
.tablet-show {
  display: none;
}
@media (max-width: 1023px) {
  .tablet-show {
    display: block;
  }
}
.tablet-hide {
  display: block;
}
@media (max-width: 1023px) {
  .tablet-hide {
    display: none;
  }
}
.mobile-show {
  display: none;
}
@media (max-width: 767px) {
  .mobile-show {
    display: block;
  }
}
.mobile-hide {
  display: block;
}
@media (max-width: 767px) {
  .mobile-hide {
    display: none;
  }
}
/****** HTML5 display definitions ******/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/****** Base ******/
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
html,
button,
input,
select,
textarea {
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
body {
  margin: 0;
}
/****** Links ******/
:focus {
  outline: none;
  border: none;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
/****** Typography ******/
body {
  background: #ffffff;
  font-size: 63.7%;
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  font-weight: 400;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizelegibility;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
a {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}
a:hover {
  color: #ffffff;
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/****** Lists ******/
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/****** Embedded content ******/
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
svg:not(:root) {
  overflow: hidden;
}
/****** Figures ******/
figure {
  margin: 0;
}
/****** Forms ******/
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/****** Tables ******/
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/****** Clearfix ******/
header,
footer,
nav,
.row-fluid {
  zoom: 1;
}
header:before,
footer:before,
nav:before,
.row-fluid:before {
  display: table;
  content: "";
}
header:after,
footer:after,
nav:after,
.row-fluid:after {
  display: table;
  content: "";
  clear: both;
}
/****** Base Styles ******/
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
/****** Bootstrap Columns ******/
.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.564102564102564%;
  *margin-left: 2.5109110747408616%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.564102564102564%;
}
.row-fluid .span12 {
  width: 100%;
  *width: 99.94680851063829%;
}
.row-fluid .span11 {
  width: 91.45299145299145%;
  *width: 91.39979996362975%;
}
.row-fluid .span10 {
  width: 82.90598290598291%;
  *width: 82.8527914166212%;
}
.row-fluid .span9 {
  width: 74.35897435897436%;
  *width: 74.30578286961266%;
}
.row-fluid .span8 {
  width: 65.81196581196582%;
  *width: 65.75877432260411%;
}
.row-fluid .span7 {
  width: 57.26495726495726%;
  *width: 57.21176577559556%;
}
.row-fluid .span6 {
  width: 48.717948717948715%;
  *width: 48.664757228587014%;
}
.row-fluid .span5 {
  width: 40.17094017094017%;
  *width: 40.11774868157847%;
}
.row-fluid .span4 {
  width: 31.623931623931625%;
  *width: 31.570740134569924%;
}
.row-fluid .span3 {
  width: 23.076923076923077%;
  *width: 23.023731587561375%;
}
.row-fluid .span2 {
  width: 14.52991452991453%;
  *width: 14.476723040552828%;
}
.row-fluid .span1 {
  width: 5.982905982905983%;
  *width: 5.929714493544281%;
}
.fivecolumns .span2 {
  width: 17.79005524861878448%;
  *width: 17.7155871635124022%;
}
@media (max-width: 767px) {
  /*margin right instead of margin left to do overflow hidden*/
  .row-fluid > [class*="span"] {
    float: none;
    width: auto;
    margin-left: 0;
  }
  /*Use this to set exact percentages and have the last box be ok*/
  .row-fluid > [class*="span"]:last-child {
    overflow: auto;
  }
}
/****** Structure ******/
.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 30px;
}
@media (max-width: 767px) {
  .container {
    padding: 0 4%;
  }
}
.container-alt {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  color: #383838;
  line-height: 14px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 100%;
}
body.fixed {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
p {
  color: #383838;
}
a {
  text-decoration: none;
}
.wrapper {
  margin: 0 auto;
  line-height: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper .header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.top-line {
  height: 5px;
  background-color: #377ab7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* HEADER */
ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}
.header img.logo {
  vertical-align: top;
  width: 173px;
  height: 34px;
  margin: 20px 10px 20px 20px;
}
.toolbar {
  background-color: #e7e7e7;
  height: 56px;
}
.toolbar ul.tools {
  float: left;
  height: 100%;
}
.toolbar ul.tools li {
  display: inline-block;
  border-right: 1px solid #bbbcbe;
  height: 100%;
}
.toolbar ul.tools li a {
  color: #818080;
  padding: 20px;
  display: block;
  height: 100%;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  opacity: 1;
}
.toolbar ul.tools li a:hover {
  -moz-opacity: .6;
  -khtml-opacity: .6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
  filter: alpha(opacity=60);
  opacity: .6;
}
.toolbar a {
  font-size: 13px;
}
.hello-box {
  width: 100%;
  background-color: #383838;
  display: table;
  height: 56px;
  cursor: pointer;
  transition: all .15s ease;
}
.hello-box:hover {
  background-color: #000;
}
.hello-box .hello-inner {
  display: table-cell;
  vertical-align: middle;
}
.hello-box .hello-img {
  float: left;
  margin-left: 20px;
}
.hello-box .hello-msg {
  float: left;
  margin-left: 10px;
}
.hello-box .hello {
  text-transform: uppercase;
}
.hello-box .hello-name {
  font-size: 18px;
}
.logout {
  float: right;
  background-color: #642c8d;
  text-align: center;
  height: 100%;
}
.logout a {
  color: #fff;
  display: block;
  padding: 20px;
  width: 130px;
  height: 100%;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  opacity: 1;
}
.logout a:hover {
  -moz-opacity: .6;
  -khtml-opacity: .6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
  filter: alpha(opacity=60);
  opacity: .6;
}
.icon-bg {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 10px;
}
.mail-count {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../images/badge_blue.png");
  background-repeat: no-repeat;
  top: 8px;
  text-align: center;
  padding-top: 5px;
  color: white;
  position: absolute;
}
.icon-compose {
  background-image: url("../images/icon_compose.png");
}
.icon-archives {
  background-image: url("../images/icon_archives.png");
}
.icon-upload {
  background-image: url("../images/icon_upload.png");
}
.icon-home {
  background-image: url("../images/icon_home.png");
  width: 23px;
}
.icon-archived {
  background-image: url("../images/icon_archived-documents.png");
  width: 25px;
  height: 16px;
  background-position: 50%;
}
.icon-lock {
  background-image: url("../images/icon_lock.png");
}
.icon-gear-blue {
  background-image: url("../images/icon_blue_gear.png");
}
.icon-mailbox-big {
  background-image: url("../images/icon-mailbox.jpg");
  height: 22px;
  width: 23px;
}
.icon-heart-big {
  background-image: url("../images/icon-heart-big.jpg");
  height: 23px;
  width: 25px;
}
.icon-circle-big {
  background-image: url("../images/icon-circle-big.jpg");
  height: 24px;
  width: 25px;
}
.icon-briefcase-big {
  background-image: url("../images/icon-briefcase-big.jpg");
  height: 21px;
  width: 25px;
}
.icon-cog-big {
  background-image: url("../images/icon-cog-big.jpg");
  height: 23px;
  width: 23px;
}
.icon-mailbox {
  background-image: url("../images/icon_mailbox.png");
  background-position: 1px -2px;
}
.icon-heart {
  background-image: url("../images/icon_program-implementation.png");
}
.icon-reporting {
  background-image: url("../images/icon_reporting.png");
}
.icon-briefcase {
  background-image: url("../images/icon_media-toolbox.png");
}
.icon-drawer {
  background-image: url("../images/icon_additional-resources.png");
}
.icon-megaphone {
  background-image: url("../images/badge_megaphone.png");
}
.nav-arrow {
  background-image: url("../images/arrow_main-nav.png");
}
.icon-file {
  background-image: url("http://placebear.com/45/45");
}
/* SEARCH */
.search-results .module-description {
  position: relative;
}
.search-results .module-description .pagination {
  position: absolute;
  float: none ;
  right: 0;
  top: 35px;
}
.search-results .module {
  margin-bottom: 15px;
}
.search-result-items {
  margin-bottom: 13px;
}
.search-result-items > li {
  border-bottom: 2px solid lightgray;
  padding: 25px 15px 15px 15px;
}
.search-result-items > li:first-child {
  padding-top: 20px;
}
.search-result-items .title-head {
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}
.search-result-items .source {
  color: gray;
}
.search-result-items .top-left {
  float: left;
}
.search-result-items .top-right {
  float: left;
}
.search-result-items .bottom-left {
  float: left;
}
.search-result-items .bottom-right {
  position: relative;
}
.search-result-items .bottom-right a {
  color: #0099cc;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  position: absolute;
  right: 0;
  bottom: 5px;
}
.search-result-items .icon-bg {
  height: 33px;
  width: 30px;
}
.search-result-items .titles {
  margin-bottom: 20px;
}
.search-result-items .details {
  position: relative;
}
.search-result-items ul.search-details {
  max-width: 520px;
}
.search-result-items ul.search-details li {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 7px;
  font-size: 1.1em;
}
.search-result-items ul.search-details span {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
}
/* MAIN */
.main {
  display: table;
  /* background-color: #4b4a4a; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sidebar,
.content {
  display: table-cell;
  width: 100%;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sidebar-content {
  padding: 10px 10px 0;
  overflow: hidden;
  background: #4b4a4a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sidebar.height-94 .sidebar-content {
  min-height: 94%;
}
.sidebar .copyright {
  position: absolute;
  top: auto;
  left: 10px;
  bottom: 10px;
  overflow: hidden;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sidebar .copyright p {
  line-height: 14px;
}
.sidebar {
  width: auto;
  position: relative;
  height: 100%;
}
ul.sidebar-nav li {
  border-bottom: 1px solid #383838;
  position: relative;
  overflow: visible;
  clear: left;
}
ul.sidebar-nav li:hover .sub-menu {
  display: block;
}
ul.sidebar-nav li:first-child a {
  position: relative;
  width: 100%;
}
ul.sidebar-nav li .sub-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 217px;
  width: auto;
  z-index: 3;
  background: #fff;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
ul.sidebar-nav li .sub-menu li {
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  height: auto;
  border-bottom: 1px solid #ddd;
}
ul.sidebar-nav li .sub-menu li a {
  border: 0;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  color: #444;
  background: #fff;
}
ul.sidebar-nav li .sub-menu li a:hover {
  border: 0;
  background: transparent;
}
ul.sidebar-nav li a {
  padding: 10px 0;
  display: block;
  color: #b3b3b3;
  font-size: 11px;
  border-left: 3px solid #4b4a4a;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}
ul.sidebar-nav li .sub-menu li a.item-title {
  color: #0099cc;
  display: block;
  float: left;
  width: 70%;
  font-weight: bold;
  margin-bottom: 5px;
}
ul.sidebar-nav li .sub-menu li .item-date {
  overflow: hidden;
  width: 28%;
  text-align: right;
  margin-right: 2%;
  padding: 10px 0;
}
ul.sidebar-nav li .sub-menu li .item-content {
  clear: left;
  width: 100%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 1em;
}
ul.sidebar-nav li .sub-menu li .item-utilities {
  padding: 15px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  display: none;
  background: #ddd;
}
ul.sidebar-nav li .sub-menu li:hover .item-utilities {
  display: block;
}
ul.sidebar-nav li .sub-menu li .item-utilities .buttons {
  width: 80%;
  margin: 0 auto;
}
ul.sidebar-nav li .sub-menu li .item-utilities .buttons div {
  width: 48%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  padding: 7px 10px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
ul.sidebar-nav li .sub-menu li .item-utilities .buttons div.view {
  margin-right: 4%;
  float: left;
  background: #0099cc;
}
ul.sidebar-nav li .sub-menu li .item-utilities .buttons div.archive {
  background: #555;
}
ul.sidebar-nav li .sub-menu li.view-all {
  background: #bbb;
}
ul.sidebar-nav li .sub-menu li.view-all a {
  color: #333;
  background: #ddd;
  text-transform: uppercase;
  font-weight: bold;
}
ul.sidebar-nav li a span {
  margin: 0 10px;
}
ul.sidebar-nav li a span.nav-arrow {
  float: right;
  width: 10px;
  background-position: 50%;
}
ul.sidebar-nav li a .active-highlight {
  width: 5px;
  display: inline-block;
}
ul.sidebar-nav li a:hover,
ul.sidebar-nav li.hover a {
  border-left: 3px solid #0099cc;
  background: #222;
}
form.search-side {
  margin-bottom: 10px;
}
.text-input {
  width: 187px;
  border-radius: 5px;
  background-color: none;
  border: none;
  font-size: 12px;
  padding: 8px 5px;
  color: #b3b3b3;
}
.sidebar .callout {
  margin-bottom: 10px;
  overflow: hidden;
  background: #fff;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sidebar .callout.blue {
  background: #abdced;
}
.sidebar .callout.blue h2,
.sidebar .callout.blue h2 a {
  color: #3480ca;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 20px 5px;
  margin: 0;
  font-size: 15px;
}
.sidebar .callout p {
  padding: 0 20px;
  margin: 0 0 10px;
  font-size: 12px;
  line-height: 16px;
}
.sidebar .callout a {
  display: block;
  overflow: hidden;
  width: auto;
  margin: 0 auto;
  line-height: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sidebar .callout a.thumbnail {
  display: block;
  margin: 0 0 10px;
  max-width: 100%;
  height: 78px;
}
.sidebar .callout a img {
  max-width: 100%;
}
.sidebar .callout .button {
  margin: 0 auto 15px;
  color: #fff;
  padding: 8px 12px;
  background: #1aa3d1;
  display: block;
  width: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
.sidebar .callout .button.download {
  padding: 8px 10px 8px 33px;
  font-size: 11px;
  background: #1aa3d1 url('../images/icon-download-white.png') no-repeat 8% center;
}
.portal-admin .sidebar,
.portal-member .sidebar {
  background: #4b4a4a;
  max-width: 217px;
}
.hello-box {
  color: #fff;
}
.hello-img {
  border-radius: 25px;
}
.content {
  background-color: #fff;
  min-height: 800px;
}
/* CONTENT */
.alerts-wrapper {
  padding: 0 40px;
  margin-top: 30px;
}
.alert {
  background-color: #fedf8d;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative;
  padding-right: 35px;
}
.alert p {
  padding: 0 10px;
  margin-top: 0;
}
.alert h3 {
  margin: 8px 0 0 0;
  color: #0099cc;
}
.alert h3,
.alert p {
  display: inline-block;
}
.alert .icon-bg {
  width: 30px;
  height: 30px;
  margin-left: 15px;
}
.alert-close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fbaa08;
  width: 30px;
  height: 100%;
  border-radius: 0 5px 5px 0;
  background-image: url('../images/icon_X.png');
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
  display: block;
}
.subtitle {
  float: left;
  margin: 0;
  color: #383838;
  text-transform: uppercase;
}
.search-portal {
  float: right;
}
.pagination {
  float: right;
  margin-right: 10px;
}
.pagi {
  width: 30px;
  height: 32px;
  background-color: #e7e7e7;
  display: inline-block;
}
.pagi-left {
  border-radius: 5px 0 0 5px;
  margin-right: 1px;
}
.pagi-right {
  border-radius: 0 5px 5px 0;
}
.pagi span {
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 32px;
  display: block;
}
.pagi-right span {
  background-image: url("../images/arrow_button-right.png");
}
.pagi-left span {
  background-image: url("../images/arrow_button-left.png");
}
.pagi-count {
  font-weight: bold;
  float: left;
  margin-top: 10px;
  margin-right: 20px;
}
/* MODULES */
.modules-wrapper {
  padding: 0 40px;
}
.module-header {
  margin-bottom: 10px;
}
.module {
  margin-bottom: 45px;
}
.module h1 {
  margin: 30px 0 20px 0;
  font-weight: 300;
}
.module h1 span {
  vertical-align: baseline;
}
.module h1.search-results-title {
  border-bottom: 3px solid lightgray;
  padding-bottom: 20px;
}
.module .text-input {
  border: 1px solid #b3b3b3 ;
}
.module .module-description p {
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 30px;
}
/* TABLES */
.table-div {
  display: table;
  width: 100%;
  border: 1px solid #d3d3d3;
  font-size: 12px;
  border-collapse: collapse;
}
.table-div .row-div:nth-child(2n+3) {
  background-color: #e7f5fa;
}
.table-div a {
  color: #000;
  text-decoration: underline;
}
.table-div.table-hospital-partners .heading-div.row-div div:nth-child(2) {
  border: none;
}
.table-div.table-archived-documents .heading-div.row-div div:nth-child(6) {
  border: none;
}
.table-div.table-partner-portal-home .heading-div.row-div div:nth-child(6) {
  border: none;
}
.table-div.table-uploaded-partners .heading-div.row-div div:nth-child(7) {
  border: none;
}
.table-div .heading-div {
  color: #fff;
  background-color: #4b4a4a;
}
.table-div .heading-div.row-div .cell-div {
  border-left: 1px solid #d3d3d3;
  padding: 5px 15px;
}
.table-div .heading-div.row-div div:last-child,
.table-div .heading-div.row-div div:first-child {
  border: none;
}
.table-div.table-style-1 {
  border: none;
}
.table-div.table-style-1 .row-div {
  background-color: white;
}
.table-div.table-style-1 .heading-div {
  height: auto;
  color: grey;
  background-color: white;
  border-bottom: 3px solid #e7e7e7 ;
  font-size: 11px;
}
.table-div.table-style-1 .heading-div.row-div .cell-div {
  border: none;
  padding: 5px 15px;
}
.table-div.table-style-1 .heading-div.row-div div:last-child,
.table-div.table-style-1 .heading-div.row-div div:first-child {
  border: none;
}
.table-div.table-style-1 .row-div {
  border-bottom: 1px solid #e7e7e7;
}
.table-div .row-div {
  display: table-row;
}
.table-div .cell-div {
  display: table-cell;
  padding: 10px 15px;
  vertical-align: middle;
}
.table-div .cell-type {
  text-transform: uppercase;
}
.table-div .cell-actions-heading {
  width: 5%;
}
.table-div .cell-actions {
  text-transform: uppercase;
  font-weight: bold;
}
.table-div .cell-language {
  text-transform: uppercase;
  color: lightgray;
}
.table-div .icon-trash {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url('../images/icon_trashcan.png');
  background-position: 50%;
}
.table-div .cell-trash a {
  display: block;
}
.table-div .cell-trash-heading,
.table-div .cell-trash {
  width: 1%;
}
.table-div .cell-document-heading,
.table-div .cell-document {
  width: 1%;
}
.table-div .cell-status {
  text-transform: uppercase;
}
.table-div .status-approved {
  color: green;
}
.table-div .status-rejected {
  color: red;
}
.table-div .status-pending {
  color: grey;
}
.table-div .category-header {
  display: table-row;
  background-color: #f6f6f6;
  border-bottom: 1px solid #d9d9d9;
  font-weight: 500;
  cursor: pointer;
}
.table-div .category-header .cell-download {
  text-transform: uppercase;
  text-align: right;
}
.table-div .cell-favorites-heading,
.table-div .cell-favorites {
  width: 1%;
}
.table-div .cell-favorites .icon-star {
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/star-off.png');
}
.table-div .cell-favorites .star-on {
  background-image: url('../images/star-on.png');
}
.table-div.table-mailbox .row-div {
  background-color: white;
  opacity: 1;
}
.table-div.table-mailbox .row-div:nth-child(2n) {
  background-color: #e7f5fa ;
}
.category-items {
  display: table-row-group;
}
.icon-toggle {
  width: 15px;
  height: 15px;
}
.table-toggable .category-items {
  display: none;
}
.table-toggable .category-items-active {
  display: table-row-group;
}
.table-toggable .icon-toggle {
  background: url('../images/toggle-closed.jpg') no-repeat 50%;
}
.table-toggable .toggle-open .icon-toggle {
  background: url('../images/toggle-open.jpg') no-repeat 50%;
}
.table-program-implementation .cell-actions {
  text-align: right;
}
.table-press-releases .cell-type {
  text-transform: none;
}
.module-mailbox ul.tabs-nav li:first-child a span {
  background: url('../images/icon_mailbox.png') no-repeat 0 50% transparent;
  padding-left: 20px;
}
.module-mailbox ul.tabs-nav li:nth-child(2) a span {
  background: url('../images/icon-tab-star.png') no-repeat 0 50% transparent;
  padding-left: 20px;
}
.module-mailbox ul.tabs-nav li:nth-child(3) a span {
  background: url('../images/icon_compose.png') no-repeat 0 50% transparent;
  padding-left: 20px;
}
/* ACTIONS OPTIONS */
ul.dropdown {
  position: relative;
  padding-left: 0;
}
ul.dropdown a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
}
ul.dropdown ul.dropdown-options {
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  padding-left: 0;
  background-color: white;
  font-weight: normal;
  text-transform: none;
  border: 1px solid #e7e7e7;
  border-bottom: none;
  width: 180px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.24);
  z-index: 2;
}
ul.dropdown ul.dropdown-options li {
  border-bottom: 1px solid #e7e7e7;
}
ul.dropdown ul.dropdown-options a {
  padding: 10px 20px;
  color: black;
  font-size: 12px;
}
ul.dropdown ul.dropdown-options a:hover {
  background-color: #2da4cf;
  color: white;
}
/* MODULE TABS */
.tabs {
  position: relative;
  color: black;
}
.tabs ul.tabs-nav {
  border-bottom: 1px solid #d3d3d3;
}
.tabs ul.tabs-nav li {
  display: inline-block;
  border: 1px solid #d3d3d3;
  border-bottom: none;
  cursor: pointer;
}
.tabs ul.tabs-nav li .nav {
  display: block;
  font-size: 12px;
  padding: 8px;
  width: 100%;
  height: 100%;
  background-color: #e7e7e7;
  border-top: 3px solid #e7e7e7;
}
.tabs ul.tabs-nav li.ui-tabs-active .nav {
  background-color: white;
  border-top: 3px solid #4b4a4a;
  position: relative;
}
.tabs ul.tabs-nav li.ui-tabs-active .nav:after {
  content: "";
  border-bottom: 1px solid white;
  bottom: -1px;
  left: 0;
  position: absolute;
  width: 100%;
}
.tabs a {
  width: 100%;
  height: 100%;
  display: block;
  color: black;
}
.tabs .tab {
  padding-top: 10px;
}
/* FOOTER */
.copyright p,
.copyright a {
  color: #b3b3b3;
}
.copyright p {
  margin-top: 0;
  margin-bottom: 2px;
}
@media all and (max-width: 910px) {
  .toolbar {
    height: auto;
  }
  .hello-box,
  .toolbar ul.tools,
  .logout {
    float: none;
  }
  .logout {
    display: none;
  }
}
.search-for-tab {
  position: absolute;
  right: 0;
  top: -5px;
}
.bold {
  font-weight: bold;
}
.settings-user {
  float: right;
  margin-top: 30px;
  margin-right: 20px;
}
.settings-user ul.dropdown {
  margin-top: 0;
  float: left;
}
.settings-user ul.dropdown > li > a {
  color: #0099cc;
  font-size: 12px;
  background-image: url('../images/icon_blue_gear.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left: 18px;
}
.seperator {
  font-size: 12px;
  margin-right: 10px;
  margin-left: 13px;
}
a.link-home {
  color: #0099cc;
  font-size: 12px;
}
.icon-xls {
  width: 17px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/icon-xls.jpg');
}
.icon-doc {
  width: 15px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/icon-doc.jpg');
}
.icon-video {
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/icon_video.jpg');
}
.icon-link {
  width: 19px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/icon-link.jpg');
}
.icon-pdf {
  width: 18px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/icon-pdf.jpg');
}
.icon-report {
  width: 18px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/icon-report.jpg');
}
.icon-doc-big {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/icon-doc-big.jpg');
}
.icon-xls-big {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/icon-xls-big.jpg');
}
/* partner portal */
.portal-partner li.archived-docs {
  display: none ;
}
.portal-partner .hello-box {
  background-color: #2d6598;
}
.portal-partner .main {
  background-color: #377ab7;
}
.portal-partner ul.sidebar-nav li {
  border-bottom: 1px solid #2d6598;
}
.portal-partner ul.sidebar-nav li a {
  border-left: 3px solid #377ab7;
}
.portal-partner ul.sidebar-nav li a:hover,
.portal-partner ul.sidebar-nav li.hover a {
  border-left: 3px solid #0099cc;
}
.portal-partner ul.sidebar-nav li.hover .sub-menu a,
.portal-partner ul.sidebar-nav li.hover .sub-menu a:hover {
  background: transparent;
}
.portal-partner ul.sidebar-nav li a:hover,
.portal-partner ul.sidebar-nav li.hover a {
  background-color: #214f7a;
  color: white;
}
.portal-partner ul.sidebar-nav li a:hover .icon-mailbox,
.portal-partner ul.sidebar-nav li.hover a .icon-mailbox {
  background-image: url("../images/icon-mailbox-partner-active.jpg");
}
.portal-partner ul.sidebar-nav li a:hover .icon-heart {
  background-image: url("../images/icon-heart-partner-active.jpg");
}
.portal-partner ul.sidebar-nav li a:hover .icon-reporting {
  background-image: url("../images/icon-reporting-partner-active.jpg");
}
.portal-partner ul.sidebar-nav li a:hover .icon-briefcase {
  background-image: url("../images/icon-briefcase-partner-active.jpg");
}
.portal-partner ul.sidebar-nav li a:hover .icon-drawer {
  background-image: url("../images/icon-drawer-partner-active.png");
}
.portal-partner ul.sidebar-nav li a:hover .nav-arrow,
.portal-partner ul.sidebar-nav li.hover a .nav-arrow {
  background-image: url("../images/arrow-partner-active.jpg");
}
.portal-partner ul.sidebar-nav li .sub-menu li,
.portal-partner ul.sidebar-nav li .sub-menu a,
.portal-partner ul.sidebar-nav li .sub-menu a:hover,
.portal-partner ul.sidebar-nav li.hover .sub-menu a {
  border: 0;
}
.portal-partner ul.sidebar-nav li .sub-menu li {
  border-bottom: 1px solid #ddd;
}
.portal-partner .sidebar a,
.portal-partner .sidebar p {
  color: #b5cde2;
}
.portal-partner .sidebar .icon-bg {
  background-position: 50%;
}
.portal-partner .icon-mailbox {
  background-image: url("../images/icon-mailbox-partner.jpg");
}
.portal-partner .icon-heart {
  background-image: url("../images/icon-heart-partner.jpg");
}
.portal-partner .icon-reporting {
  background-image: url("../images/icon-reporting-partner.jpg");
}
.portal-partner .icon-briefcase {
  background-image: url("../images/icon-briefcase-partner.jpg");
}
.portal-partner .icon-drawer {
  background-image: url("../images/icon-drawer-partner.png");
}
.portal-partner .nav-arrow {
  background-image: url("../images/arrow-partner.jpg");
}
/* my account */
.my-account .photo-label-wrapper {
  margin-top: 50px;
}
.my-account .photo-label {
  margin-top: -35px;
}
.my-account .profile-image {
  display: inline-block;
}
.my-account .profile-image-link {
  color: #0099cc;
  font-size: 12px;
  text-decoration: underline;
  font-weight: 500;
  margin-left: 15px;
}
.my-account .forgotpassword {
  color: #0099cc;
  font-size: 12px;
  margin: 7px 0 13px 155px;
  display: block;
}
.my-account .form-btn {
  color: #4b4a4a;
  background-color: #dbdbdb;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
}
.my-account .upload-btn {
  font-weight: bold;
  text-transform: uppercase;
}
.my-account .save-btn {
  color: white;
  background-color: #0099cc;
}
.my-account .cancel-btn {
  margin-right: 7px;
}
.my-account .form-buttons {
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 15px;
  margin-bottom: 40px;
}
.my-account .form-buttons li {
  display: inline-block;
  float: right;
}
.my-account form .module-header {
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 10px;
}
.my-account form fieldset {
  margin-top: 40px;
  margin-bottom: 30px;
}
.my-account form fieldset li {
  margin-bottom: 10px;
}
.my-account form label {
  font-size: 13px;
  display: inline-block;
  width: 120px;
  text-align: right;
  margin-right: 30px;
}
.my-account form input,
.my-account form select {
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  outline: none;
  border: 1px solid #cdcdcd;
  font-size: 13px;
  width: 25%;
}
.my-account form select {
  width: 35%;
}
.my-account form #username {
  background-color: inherit;
  color: black ;
  opacity: 1 ;
  border: none;
}
.my-account form #username::-moz-placeholder {
  color: black;
  opacity: 1;
}
.my-account form #address1,
.my-account form #address2 {
  width: 50.3%;
}
/**
 * Member Portal
 */
.overlays-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.85);
  display: none;
  top: 0;
  left: 0;
  z-index: 201;
}
.overlay {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45%;
  width: 45%;
  min-width: 295px;
  background: #fff;
  /* display: none; */
}
.overlay#overlay-forgot-password {
  height: 60%;
}
.overlay#overlay-upload {
  height: 85%;
  max-height: 550px;
}
.overlay#overlay-delete {
  height: 25%;
  min-height: 200px;
}
.overlay.active {
  display: block;
}
.overlays-wrapper h2 {
  position: relative;
  background: #e2e2e2;
  padding: 18px 4%;
  overflow: hidden;
  margin: 0;
}
.overlay h2 .overlay-title {
  float: left;
  padding-left: 30px;
  line-height: normal;
  color: #4b4a4a;
  font-family: 'Gotham A', 'Gotham B';
  font-weight: 400;
}
.overlay.overlay-login h2 .overlay-title,
.overlay.overlay-forgot-password h2 .overlay-title,
.overlay.overlay-upload h2 .overlay-title,
.overlay.overlay-compose h2 .overlay-title,
.overlay.overlay-delete h2 .overlay-title {
  background: transparent url('../images/icon-mp-login.png') no-repeat left center;
}
.overlay .frm_cancel {
  background: none repeat scroll 0 0 #ddd;
  border: 0 none;
  border-radius: 3px;
  color: #555;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 13px;
  font-family: "Gotham A", "Gotham B";
  float: right;
}
.overlay .form-wrapper select {
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d7d7d7;
  display: block;
  font-family: "Gotham A", "Gotham B";
  font-size: 14px;
  width: 40%;
  color: #bababa;
}
.overlay-close {
  position: absolute;
  color: #fff;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  min-width: 40px;
  width: 9%;
  background: #4b4a4a url(../images/icon-mp-overlay-close.png) no-repeat center center;
  cursor: pointer;
}
.form-wrapper {
  margin: 30px 0 25px;
  overflow: hidden;
  position: relative;
}
.form-wrapper .trigger-overlay {
  color: #0099cc;
  text-decoration: underline;
  display: block;
  position: absolute;
  right: 4%;
  left: auto;
  bottom: 85px;
  top: auto;
}
.form-wrapper .trigger-overlay:hover {
  text-decoration: none;
}
.overlay form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.overlay form .button-primary {
  color: #fff;
  background: #0099cc;
  border: 0;
  padding: 14px 13px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.overlay form#loginform p.login-submit {
  margin-top: 60px;
  overflow: hidden;
}
.overlay form#loginform p.login-submit input,
.overlay form .frm_submit {
  float: right;
  width: auto;
  border: 0;
  cursor: pointer;
}
.overlay .frm_form_field.no-br br {
  display: none;
  height: 0;
}
.overlay .frm_form_field.no-padding input {
  padding: 0 ;
}
.overlay .frm_form_field.no-border input {
  border: 0 ;
}
.overlay > p {
  font-size: 14px;
  margin: 1em 4% 1em;
}
.overlay textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d7d7d7;
  padding: 5px;
  font-size: 14px;
}
.overlay > .button-primary {
  color: #fff;
  background: #0099cc;
  border: 0;
  padding: 8px 13px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  float: right;
  margin: 1em 4% 1em;
}
.overlay .frm_description > p {
  font-size: 14px;
  margin: 0 4% 1em;
}
.overlay form input {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d7d7d7;
  width: 100%;
  padding: 5px;
  font-family: "Gotham A", "Gotham B";
  font-size: 14px;
}
.overlay form p,
.overlay form .frm_form_field,
.overlay form #frm_field_cptch_number_container.form-field,
.overlay form .frm_submit,
.overlay #message {
  margin: 0 4% 12px;
  padding: 0;
  overflow: hidden;
}
.overlay #message {
  transition: all .3s ease 0;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
}
.overlay #message p {
  margin: 0;
  padding: 0px;
  font-size: 14px;
}
.overlay form #frm_field_cptch_number_container label {
  display: block ;
}
.overlay form #frm_field_cptch_number_container.form-field {
  clear: both;
}
.overlay .frm_error {
  color: red;
  margin: 1em 0 0;
}
.overlay .frm_error_style {
  font-size: 14px;
  color: red;
  margin: 0 4% 1em;
}
.overlay form label {
  /* display: none; */
  padding: 0;
  margin: 0;
}
.overlay form .frm_checkbox label {
  display: block;
  font-size: 14px;
}
.overlay form .frm_checkbox label input {
  float: left;
  margin-right: 5px;
  width: auto;
}
.overlay form#loginform p.login-remember {
  float: left;
  width: auto;
}
.overlay form#loginform p.login-remember label {
  display: block;
}
.overlay form#loginform p.login-remember label input {
  float: left;
  margin: 3px 8px 0 0;
  width: auto;
}
@media only screen and (max-width: 1050px) {
  #utilityLinks {
    min-width: 0;
  }
  #utilityLinks a {
    margin-left: 0px;
    margin-right: 0px;
  }
  .overlay h2 .overlay-title {
    font-size: 20px;
    padding-left: 20px;
  }
  .form-wrapper .trigger-overlay {
    font-size: 12px;
    bottom: 92px;
  }
  .overlay form#loginform p.login-remember label {
    font-size: 12px;
  }
  .overlay form#loginform p.login-remember label input {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 480px) {
  .overlays-wrapper {
    overflow: auto;
  }
  .overlay {
    height: 90%;
    width: 90%;
    min-height: 400px;
  }
  .overlay h2 .overlay-title {
    font-size: 16px;
    padding-left: 20px;
  }
  .overlay form .button-primary {
    padding: 9px 8px;
  }
  .form-wrapper .trigger-overlay {
    bottom: 82px;
  }
  .overlay form input {
    font-size: 12px;
  }
}
/* survey */
.blue-survey-btn {
  background: #1aa3d1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
}
.blue-survey-btn:hover {
  background: #076e90;
}
.survey-title {
  background: #f0f0f0;
  padding: 10px 0;
  clear: both;
  overflow: hidden;
}
.survey-title h1 {
  font-size: 25px;
  line-height: 30px;
  color: #383838;
  font-weight: 300;
  margin: 0;
  display: inline-block;
  float: left;
}
.survey-title a {
  font-size: 12px;
  padding: 10px 15px;
  float: right;
}
#survey p {
  color: #4b4a4a;
  font-size: 13px;
  line-height: 22px;
  margin: 0;
}
#survey input[type="text"] {
  width: 80%;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 32px;
  padding: 0 13px;
  font-weight: 300;
}
#survey .purple-survey-btn {
  font-size: 13px;
  font-weight: 500;
  padding: 10px 0;
  text-align: center;
  background: #c8c8c8;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#survey .purple-survey-btn.active {
  background: #642c8d;
}
#survey .purple-survey-btn.active:hover {
  background: #4c216c;
}
#survey .wrap {
  background: #f0f0f0;
  margin-top: 25px;
  border: 1px solid #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  min-height: 365px;
  padding: 50px;
}
#survey .wrap .hidden {
  display: none;
}
#survey .wrap .center-buttons {
  text-align: center;
}
#survey .wrap .pre2,
#survey .wrap .pre3,
#survey .wrap .pre4 {
  display: none;
}
#survey .wrap .pre1 a,
#survey .wrap .pre3 a,
#survey .wrap .pre4 a {
  font-size: 18px;
  font-weight: 500;
  padding: 20px;
  width: 240px;
  text-align: center;
}
#survey .wrap .pre1 .title,
#survey .wrap .pre3 .title {
  font-size: 25px;
  line-height: 30px;
  color: #1aa3d1;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
}
#survey .wrap .pre1 a {
  margin: 0 5px;
}
#survey #errors {
  margin-top: 10px;
}
#survey #errors .id,
#survey #errors .date,
#survey #errors .class {
  display: none;
}
#survey #errors .id p,
#survey #errors .date p,
#survey #errors .class p {
  text-align: center;
  color: red;
  font-weight: 500;
}
#survey .wrap .pre2 fieldset > div {
  clear: both;
  overflow: hidden;
}
#survey .wrap .pre2 .left {
  float: left;
  width: 48%;
  margin-right: 4%;
}
#survey .wrap .pre2 .right {
  float: left;
  width: 48%;
}
#survey .wrap .pre2 .left span,
#survey .wrap .pre2 .right span {
  color: #1aa3d1;
  font-weight: 500;
  font-size: 25px;
  margin-right: 15px;
}
#survey .wrap .pre2 fieldset .radio {
  margin: 35px auto 50px;
  text-align: center;
  color: #1aa3d1;
  font-weight: 500;
  font-size: 20px;
  margin-right: 15px;
}
#survey .wrap .pre2 fieldset .radio input[type="radio"] {
  height: 18px;
}
#survey .wrap .pre2 fieldset .radio span {
  margin-left: 8px;
}
#survey .wrap .pre2 fieldset .radio .last {
  margin-left: 50px;
}
#survey .wrap .pre2 fieldset .purple-survey-btn {
  width: 240px;
  display: block;
}
#survey .wrap .pre3 a {
  margin: 0 5px;
}
#survey .wrap .pre4 a {
  display: block;
  margin: 0 auto 20px;
}
#survey .wrap .pre4 a:last-child {
  margin-bottom: 0;
}
#survey .wrap .pre4 a img {
  display: block;
  margin: 0 auto 7px;
}
#survey .wrap .questions {
  display: none;
}
#survey .wrap .questions .top {
  min-height: 235px;
  margin-bottom: 20px;
}
#survey .wrap .questions .top fieldset {
  display: none;
}
#survey .wrap .questions h2 {
  color: #642c8d;
  font-size: 25px;
  line-height: 35px;
  font-weight: 500;
  margin: 0 0 10px 0;
}
#survey .wrap .questions h2 span {
  background: #642c8d;
  color: #fff;
  font-size: 25.5px;
  font-weight: 400;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-right: 10px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding: 2px;
}
#survey .wrap .questions .item {
  margin: 10px 0 10px 55px;
  clear: both;
  overflow: hidden;
}
#survey .wrap .questions .item input[type="radio"],
#survey .wrap .questions .item span {
  font-size: 21px;
  line-height: 30px;
}
#survey .wrap .questions .item input[type="radio"] {
  height: 30px;
  width: 25px;
  float: left;
  margin-right: 5px;
}
#survey .wrap .questions .item span {
  color: #494949;
  display: block;
  overflow: hidden;
}
#survey .wrap .questions .item span.active {
  color: #1aa3d1;
}
#survey .wrap .questions .bar-links .links {
  float: right;
  margin-left: 20px;
}
#survey .wrap .questions .bar-links .links .back {
  padding: 10px;
  margin-right: 7px;
}
#survey .wrap .questions .bar-links .links .next {
  padding: 10px 30px;
}
#survey .wrap .questions .bar-links .bar {
  /*width: 75%;
  float: left;*/
  margin-right: 15px;
  overflow: hidden;
}
#survey .wrap .questions .bar-links .bar .bar-animation {
  background: #d4d4d4;
  height: 13px;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 8px;
}
#survey .wrap .questions .bar-links .bar .bar-animation .blue {
  width: 0;
  height: 13px;
  background: #1aa3d1;
}
#survey .wrap .questions .bar-links .bar p {
  color: #1aa3d1;
  font-weight: 500;
  font-size: 15px;
}
#survey .wrap .final {
  display: none;
}
#survey .wrap .final a {
  font-size: 18px;
  font-weight: 500;
  padding: 20px;
  width: 240px;
  text-align: center;
  display: block;
  margin: 0 auto 20px;
}
#survey .wrap .final a:first-child {
  padding: 25px 50px;
  line-height: 25px;
}
#survey .wrap .final a:last-child {
  margin-bottom: 0;
  font-size: 14px;
}
#survey .wrap .final .title {
  font-size: 25px;
  line-height: 30px;
  color: #1aa3d1;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
}
/* styles added after converting member portal to backbone (and moving this to less)*/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.document-list {
  position: relative;
}
#member-portal a {
  outline: none;
}
.route {
  cursor: pointer;
}
.overlay form .side-label input[type="checkbox"] {
  float: left;
  margin-right: 10px;
  width: auto;
}
.overlay form .side-label label {
  display: block;
  overflow: hidden;
}
.overlay.overlay-upload label,
.overlay.overlay-document label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}
.overlay.overlay-upload select,
.overlay.overlay-document select {
  color: #000;
  width: 50%;
}
.overlay.overlay-document .frm_submit.submit {
  display: block;
}
.overlay.overlay-document .frm_submit.edit {
  display: none;
}
.overlay.overlay-document form.disabled .frm_submit.submit {
  display: none;
}
.overlay.overlay-document form.disabled .frm_submit.edit {
  display: block;
}
.list-table {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #404040;
}
.list-table .actions-wrap {
  position: relative;
  text-align: right;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.list-table .actions-wrap .actions {
  cursor: pointer;
  transition: all 0.125s ease;
  padding: 6px;
  margin-right: -6px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.list-table .actions-wrap .actions:hover {
  background-color: #f2f2f2;
}
.list-table .actions-wrap .dropdown-options {
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: all 0.125s ease;
  padding-left: 0;
  background-color: white;
  font-weight: normal;
  text-transform: none;
  border: 1px solid #e7e7e7;
  border-bottom: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.24);
  z-index: 2;
  position: absolute;
  top: 40px;
  right: 6px;
}
.list-table .actions-wrap .dropdown-options li {
  border-bottom: 1px solid #e7e7e7;
  color: black;
  font-size: 14px;
  padding: 12px;
  transition: all 0.125s ease;
  cursor: pointer;
  white-space: nowrap;
}
.list-table .actions-wrap .dropdown-options li:hover {
  background-color: #2da4cf;
  color: white;
}
.list-table .actions-wrap.active-menu .dropdown-options {
  visibility: visible;
  opacity: 1;
  height: auto;
}
.list-table .row {
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
  zoom: 1;
}
.list-table .row:before,
.list-table .row:after {
  content: "";
  display: table;
}
.list-table .row:after {
  clear: both;
}
.list-table .row:first-child {
  border-bottom: 3px solid #d4d4d4;
}
.list-table .col-item {
  float: left;
  display: block;
  padding: 18px 15px;
}
.list-table .doc-status {
  text-transform: uppercase;
}
.list-table .doc-status.pending {
  color: #9a9899;
}
.list-table .doc-status.trash {
  color: #E93333;
}
.list-table .doc-status.publish {
  color: #4b8c13;
}
.list-table .heading .col-item {
  padding: 10px 15px 12px;
}
.list-table .document-folder {
  background-color: #f6f6f6;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.125s ease;
}
.list-table .document-folder:hover {
  background-color: #ececec;
}
.list-table .document-folder .icon,
.list-table .document-folder .name {
  float: left;
}
.list-table .document-folder .download {
  float: right;
  transition: all 0.125s ease;
  padding: 10px;
  margin: -10px;
}
.list-table .document-folder .download:hover {
  color: #4a4a4a;
  background-color: #ffffff;
}
.list-table .document-folder .icon {
  height: 16px;
  width: 16px;
  background: url(../images/mp-collapse.png) no-repeat center center;
  margin-right: 16px;
}
.list-table .document-folder.collapsed .icon {
  background: url(../images/mp-expand.png) no-repeat center center;
}
.list-table .document {
  transition: all 0.4s ease, overflow 0.125s ease 0.125s;
  overflow: visible;
  display: block;
}
.list-table .document.hidden {
  height: 0;
  display: block;
  border: none;
  overflow: hidden;
}
.list-table .document.pending {
  background-color: #F7F7F7;
}
.list-table .document.trash {
  background-color: #FAE7E7;
}
.list-table .document.updated {
  background-color: #abdced;
}
.list-table.cols-6 .colspan-1 {
  width: 16.66666667%;
}
.list-table.cols-6 .colspan-2 {
  width: 33.33333333%;
}
.list-table.cols-6 .colspan-3 {
  width: 50%;
}
.list-table.cols-6 .colspan-4 {
  width: 66.66666667%;
}
.list-table.cols-7 .colspan-1 {
  width: 14.28571429%;
}
.list-table.cols-7 .colspan-2 {
  width: 28.57142857%;
}
.list-table.cols-7 .colspan-3 {
  width: 42.85714286%;
}
.list-table.cols-7 .colspan-4 {
  width: 57.14285714%;
}
.list-table.cols-7 .colspan-7 {
  width: 100%;
}
.list-table.cols-8 .colspan-1 {
  width: 12.5%;
}
.list-table.cols-8 .colspan-2 {
  width: 25%;
}
.list-table.cols-8 .colspan-3 {
  width: 37.5%;
}
.list-table.cols-8 .colspan-4 {
  width: 50%;
}
.list-table.cols-8 .colspan-7 {
  width: 87.5%;
}
.list-table.cols-8 .colspan-8 {
  width: 100%;
}
.home .search-for-tab,
.archive .search-for-tab {
  top: -42px;
}
.home .list-table,
.archive .list-table {
  color: #404040;
}
.home .list-table .heading,
.archive .list-table .heading {
  color: #FFF;
  background-color: #404040;
}
.home .list-table .row,
.archive .list-table .row {
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  zoom: 1;
}
.home .list-table .row:before,
.archive .list-table .row:before,
.home .list-table .row:after,
.archive .list-table .row:after {
  content: "";
  display: table;
}
.home .list-table .row:after,
.archive .list-table .row:after {
  clear: both;
}
.home .list-table .row:first-child,
.archive .list-table .row:first-child {
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}
.home .list-table .col-item,
.archive .list-table .col-item {
  float: left;
  display: block;
  padding: 12px 12px;
}
.home .list-table .actions-wrap .dropdown-options,
.archive .list-table .actions-wrap .dropdown-options {
  top: 34px;
}
#content-area {
  margin-bottom: 60px;
}
