body {
	/* background: orange; */
	padding: 0;
	margin: 0;
	font-family: 'Gotham A', 'Gotham B'; 
}

header {
	background: #fff;
}

form,
input,
select,
textarea,
.form-intro,
.form-intro-info,
div.form,
.legend-wrapper,
.right,
.bottom,
.people-boxes,
.person-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	clear: both;
}

.logo-wrapper {
	overflow: hidden;
	height: auto;
	margin: 1em 0;
}

.logo-wrapper img {
	float: left;
}

.gray-bar {
	padding: 7px 0;	
	color: #333;
	font-size: 26px;
	font-family: 'Gotham A', 'Gotham B'; 
	background: #e7e7e7;
}

.submit, .clear {
	padding: 10px; 
	background: red;
	color: #fff;
	font-weight: bold;
	margin: 10px 0;
	font-size: 24px;
}

.input {
	padding: 10px;
	margin-right: 20px;
	font-size: 24px;
}

.form-intro,
.form-wrapper {
	margin: 6%;
}

.form-intro p {
	font-size: 16px;
	line-height: 20px;
}

.form-wrapper {	
	display: none;
}

.form-wrapper p:first-child {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 3px solid #ccc;
}

.bottom {
	overflow: hidden;
}

div.form {	
	background: transparent url('../images/observation-form/form-background600.png') no-repeat left top;
	/* background-size: contain; */
	width: 100%;	
	/* height: 800px; */
	overflow: hidden;
}

div.form p:first-child {
	padding: 0;
	margin : 35px 0 10px;
	border: 0;
	text-align: center;
	color: #bbb;
	text-transform: uppercase;
}

.legend-wrapper {
	float: left;
	overflow: hidden;
	width: 17%;
	margin-right: 3%;
	height: 100%;
	padding-right: 3%;
	border-right: 1px solid #ccc;
}

.legend-wrapper h2 {
	font-size: 14px;
	text-transform: uppercase;
	color: #333;
	padding: 0 40px 0 0;
	margin: 0;
	text-align: right;
}

.legend-wrapper .icon {
	padding: 10px 40px 10px 0;
	margin: 0;
	text-align: right;
}

.legend-wrapper .icon.male {
	background: #fff url('../images/observation-form/icon-male.png') no-repeat right center;
}

.legend-wrapper .icon.female {
	background: #fff url('../images/observation-form/icon-female.png') no-repeat right center;
}

.legend-wrapper .icon.unknown {
	margin-bottom: 20px;
	background: #fff url('../images/observation-form/icon-question-mark.png') no-repeat right center;
}

.legend-wrapper .icon.adult {
	background: #fff url('../images/observation-form/icon-adult.png') no-repeat right center;
}

.legend-wrapper .icon.child {
	background: #fff url('../images/observation-form/icon-child.png') no-repeat right center;
}

.legend-wrapper .icon.check {
	background: #fff url('../images/observation-form/icon-check.png') no-repeat right center;
}

.legend-wrapper .icon.no {
	background: #fff url('../images/observation-form/icon-no.png') no-repeat right center;
}

.people-boxes {
	overflow: hidden;
	width: 100%;	
	margin: 40px 70px 20px;
}

.person-box {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	float: left;
	margin-right: 3%;	
	margin-bottom: 25px;
	border: 1px solid #ddd;
	padding: 2%;
}

.person-box:nth-child(3n+1) {
	clear: left;
}

.person-box .icon {
	height: 27px;
	width: 27px;
	padding: 0;
	display: block;
	margin-right: 16px;
	float: left;
}

.person-box .icon.male,
.person-box .icon.male:active,
.person-box .icon.male:focus,
.person-box .icon.male.inactive,
.person-box .icon.male.inactive:hover {
	background: transparent url('../images/observation-form/icon-male-inactive.png') no-repeat right center;
}

.person-box .icon.female,
.person-box .icon.female.inactive,
.person-box .icon.female.inactive:hover {
	background: transparent url('../images/observation-form/icon-female-inactive.png') no-repeat right center;
}

.person-box .icon.unknown,
.person-box .icon.unknown.inactive,
.person-box .icon.unknown.inactive:hover {
	margin-right: 0;
	background: transparent url('../images/observation-form/icon-question-mark-inactive.png') no-repeat right center;
}

.person-box .icon.adult,
.person-box .icon.adult.inactive,
.person-box .icon.adult.inactive:hover {
	background: transparent url('../images/observation-form/icon-adult-inactive.png') no-repeat right center;
}

.person-box .icon.child,
.person-box .icon.child.inactive,
.person-box .icon.child.inactive:hover {
	background: transparent url('../images/observation-form/icon-child-inactive.png') no-repeat right center;
}

.person-box .icon.check,
.person-box .icon.check.inactive,
.person-box .icon.check.inactive:hover {
	background: transparent url('../images/observation-form/icon-check-inactive.png') no-repeat right center;
}

.person-box .icon.no,
.person-box .icon.no.inactive,
.person-box .icon.no.inactive:hover {
	background: transparent url('../images/observation-form/icon-no-inactive.png') no-repeat right center;
}

.person-box .icon.male.clicked {
	background: transparent url('../images/observation-form/icon-male.png') no-repeat right center;
}

.person-box .icon.female.clicked {
	background: transparent url('../images/observation-form/icon-female.png') no-repeat right center;
}

.person-box .icon.unknown.clicked {
	margin-right: 0;
	background: transparent url('../images/observation-form/icon-question-mark.png') no-repeat right center;
}

.person-box .icon.adult.clicked {
	background: transparent url('../images/observation-form/icon-adult.png') no-repeat right center;
}

.person-box .icon.child.clicked {
	background: transparent url('../images/observation-form/icon-child.png') no-repeat right center;
}

.person-box .icon.check.clicked {
	background: transparent url('../images/observation-form/icon-check.png') no-repeat right center;
}

.person-box .icon.no.clicked {
	background: transparent url('../images/observation-form/icon-no.png') no-repeat right center;
}


.person-box .icon.male:hover {
	cursor: pointer;
}

.person-box .icon.female:hover  {
	cursor: pointer;
}

.person-box .icon.unknown:hover {
	cursor: pointer;
}

.person-box .icon.adult:hover  {
	cursor: pointer;
}

.person-box .icon.child:hover {
	cursor: pointer;
}

.person-box .icon.check:hover {
	cursor: pointer;
}

.person-box .icon.no:hover {
	cursor: pointer;
}

.person-box h2 {
	font-size: 12px;
	color: #666;
	text-transform: uppercase;
	clear: left;
	margin: 0 0 2px;
	padding-top: 7px;
}

.right {
	overflow: hidden;
	width: 600px;
}

.form-intro-info {
	padding-top: 30px;
	margin-top: 30px;
	border-top: 3px solid #ddd;
}

.form-intro-info input {
	padding: 10px;
	font-size: 18px; 
}

.form-intro-info input:first-child {
	width: 60%;
}

.form-intro-button-wrapper {
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-intro-buttons {
	margin: 0 auto;
	width: 70%;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}

.form-intro .button {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding: 12px; 
	text-transform: uppercase;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 49%;
}

.form-intro .button.button-start {
	background: #642c8d;
	color: #fff;
	margin-right: 1%;
}

.form-intro .button.button-download {
	background: #ccc;
	color: #444;
}

.car-count {
	text-align: center;
	margin-bottom: 20px
}

.car-count span {
	font-weight: bold;
}

.button.next {
	display: block;
	text-align: center;
	margin: 0 auto 40px;
	width: 30px;
	color: #fff;
	background: #642c8d;
	text-transform: uppercase;
	font-size: 12px;
	text-decoration: none;
	padding: 10px 20px;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}